<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.ioka.android.ioka">

    <application>
        <activity
            android:name="kz.ioka.android.ioka.presentation.flows.saveCard.SaveCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kz.ioka.android.ioka.presentation.flows.payment.PayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kz.ioka.android.ioka.presentation.flows.paymentWithSavedCard.withoutCvv.PayWithCardIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.webView.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.result.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.launcher.PaymentLauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IokaTheme.Transparent" />
    </application>

</manifest>